In [37]:
import pandas as pd
# BASIC DS LIBS
import openpyxl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# FILE IO LIBS
import os 
from os.path import join 

# GEOSPATIAL LIBS
from osgeo import gdal
import geopandas as gpd
from geopandas import GeoDataFrame

# PLOT LIBS
import plotly.express as px 
import plotly.graph_objects as go
from shapely.geometry import Point
from plotly.subplots import make_subplots
gun_data = pd.read_csv('Rochester_NY_Shooting_Victims.csv')

In [2]:
from geopy.geocoders import Nominatim

In [3]:
gun_2022 = gun_data[gun_data["Occurred_Year"] == 2022]

In [4]:
t = gun_2022["Occurred_Year"] == 2022

In [5]:
t.unique()

array([ True])

In [23]:
gun_2023 = gun_data[gun_data["Occurred_Year"] == 2023]

In [24]:
gun_2023

Empty DataFrame
Columns: [X, Y, ID, Case_Number, Address, Occurred_Date, Occurred_Month, Occurred_Year, Crime_Type, Multiple_Shooting, Gender, Race, Ethnicity, Victim_Age, Victim_Age_Band, Latitude, Longitude, ObjectId]
Index: []

In [7]:
gun_2022

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId
0,-77.610890,43.184163,7b9b3c9f85a442ce6a0aa2433ab8614f,22-109240,442 Remington St,2022/06/01 04:00:00+00,6,2022,Shooting,No,M,WHITE,HISPANIC,34,25-44,43.184163,-77.610890,1
1,-77.598893,43.181793,82e3549d4dc8a835dea7130df2dcc851,22-106950,904 Hudson Ave,2022/05/29 04:00:00+00,5,2022,Homicide,No,M,WHITE,HISPANIC,42,25-44,43.181793,-77.598893,2
2,-77.630378,43.142970,bb9b98f90af42194e3a5b12a1ba8405f,22-106780,168 Bartlett St,2022/05/29 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,60,45-Older,43.142970,-77.630378,3
3,-77.580628,43.167216,dd0ab9214578b6e0d35467f6bb7b0fc3,22-106380,720 N Goodman St,2022/05/28 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,28,25-44,43.167216,-77.580628,4
4,-77.641972,43.162394,5aac53d1517de031545f178e919c35b8,22-104298,138 Murray St,2022/05/26 04:00:00+00,5,2022,Shooting,No,M,WHITE,HISPANIC,15,15-24,43.162394,-77.641972,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,-77.594208,43.176265,170cc2716dcda68d990e13f160eb8e6d,22-002983,367 Alphonse St,2022/01/05 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,45,45-Older,43.176265,-77.594208,433
433,-77.653647,43.145521,8413049a1673e7652bc9a496b9822f8b,22-002302,211 Depew St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,43,25-44,43.145521,-77.653647,434
434,-77.632012,43.160080,1cb272c96a18d27465d921e5df6df93a,22-002409,290 Saxton St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,15,15-24,43.160080,-77.632012,435
435,-77.603917,43.159877,11e489af1ae332d6ea0af7061c782115,22-001016,125 North St,2022/01/02 05:00:00+00,1,2022,Homicide,No,M,BLACK,NON HISPANIC,14,14-May,43.159877,-77.603917,436
436,-77.626821,43.141037,1870a76a0d379ac9e58736f51974dbaf,22-000125,204 Hawley St,2022/01/01 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,30,25-44,43.141037,-77.626821,437

In [8]:
gun_2022_23 =  pd.concat([gun_2022, gun_2023])

In [9]:
gun_2022_23

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId
0,-77.610890,43.184163,7b9b3c9f85a442ce6a0aa2433ab8614f,22-109240,442 Remington St,2022/06/01 04:00:00+00,6,2022,Shooting,No,M,WHITE,HISPANIC,34,25-44,43.184163,-77.610890,1
1,-77.598893,43.181793,82e3549d4dc8a835dea7130df2dcc851,22-106950,904 Hudson Ave,2022/05/29 04:00:00+00,5,2022,Homicide,No,M,WHITE,HISPANIC,42,25-44,43.181793,-77.598893,2
2,-77.630378,43.142970,bb9b98f90af42194e3a5b12a1ba8405f,22-106780,168 Bartlett St,2022/05/29 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,60,45-Older,43.142970,-77.630378,3
3,-77.580628,43.167216,dd0ab9214578b6e0d35467f6bb7b0fc3,22-106380,720 N Goodman St,2022/05/28 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,28,25-44,43.167216,-77.580628,4
4,-77.641972,43.162394,5aac53d1517de031545f178e919c35b8,22-104298,138 Murray St,2022/05/26 04:00:00+00,5,2022,Shooting,No,M,WHITE,HISPANIC,15,15-24,43.162394,-77.641972,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,-77.594208,43.176265,170cc2716dcda68d990e13f160eb8e6d,22-002983,367 Alphonse St,2022/01/05 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,45,45-Older,43.176265,-77.594208,433
433,-77.653647,43.145521,8413049a1673e7652bc9a496b9822f8b,22-002302,211 Depew St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,43,25-44,43.145521,-77.653647,434
434,-77.632012,43.160080,1cb272c96a18d27465d921e5df6df93a,22-002409,290 Saxton St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,15,15-24,43.160080,-77.632012,435
435,-77.603917,43.159877,11e489af1ae332d6ea0af7061c782115,22-001016,125 North St,2022/01/02 05:00:00+00,1,2022,Homicide,No,M,BLACK,NON HISPANIC,14,14-May,43.159877,-77.603917,436
436,-77.626821,43.141037,1870a76a0d379ac9e58736f51974dbaf,22-000125,204 Hawley St,2022/01/01 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,30,25-44,43.141037,-77.626821,437

In [10]:
gun_long=gun_2022_23["Longitude"]

In [11]:
gun_lat = gun_2022_23["Latitude"]

In [12]:
gun_lat = gun_lat.tolist()

In [13]:
gun_long = gun_long.tolist()

In [14]:
zipcode=[]

In [15]:
geolocator = Nominatim(user_agent='myapplication')

In [16]:

for i in range(len(gun_lat)):
    location = geolocator.reverse((gun_lat[i],gun_long[i]),timeout=10)
    address = location.raw['address']
    zipcode.append(address.get('postcode'))

In [18]:
len(zipcode)

137

In [29]:
gun_2022_23 = gun_2022_23.reset_index(drop=True)

In [30]:
gun_2022_23

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId,Zip_code
0,-77.610890,43.184163,7b9b3c9f85a442ce6a0aa2433ab8614f,22-109240,442 Remington St,2022/06/01 04:00:00+00,6,2022,Shooting,No,M,WHITE,HISPANIC,34,25-44,43.184163,-77.610890,1,14621
1,-77.598893,43.181793,82e3549d4dc8a835dea7130df2dcc851,22-106950,904 Hudson Ave,2022/05/29 04:00:00+00,5,2022,Homicide,No,M,WHITE,HISPANIC,42,25-44,43.181793,-77.598893,2,14611
2,-77.630378,43.142970,bb9b98f90af42194e3a5b12a1ba8405f,22-106780,168 Bartlett St,2022/05/29 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,60,45-Older,43.142970,-77.630378,3,14609
3,-77.580628,43.167216,dd0ab9214578b6e0d35467f6bb7b0fc3,22-106380,720 N Goodman St,2022/05/28 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,28,25-44,43.167216,-77.580628,4,14606
4,-77.641972,43.162394,5aac53d1517de031545f178e919c35b8,22-104298,138 Murray St,2022/05/26 04:00:00+00,5,2022,Shooting,No,M,WHITE,HISPANIC,15,15-24,43.162394,-77.641972,5,14611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,-77.594208,43.176265,170cc2716dcda68d990e13f160eb8e6d,22-002983,367 Alphonse St,2022/01/05 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,45,45-Older,43.176265,-77.594208,433,14611
133,-77.653647,43.145521,8413049a1673e7652bc9a496b9822f8b,22-002302,211 Depew St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,43,25-44,43.145521,-77.653647,434,14606
134,-77.632012,43.160080,1cb272c96a18d27465d921e5df6df93a,22-002409,290 Saxton St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,15,15-24,43.160080,-77.632012,435,14604
135,-77.603917,43.159877,11e489af1ae332d6ea0af7061c782115,22-001016,125 North St,2022/01/02 05:00:00+00,1,2022,Homicide,No,M,BLACK,NON HISPANIC,14,14-May,43.159877,-77.603917,436,14608
136,-77.626821,43.141037,1870a76a0d379ac9e58736f51974dbaf,22-000125,204 Hawley St,2022/01/01 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,30,25-44,43.141037,-77.626821,437,NaN

In [31]:
zipcode_2022_23 = pd.Series(zipcode)

gun_2022_23['Zip_code'] = zipcode_2022_23

In [32]:
zipcode_2022_23

0      14621
1      14621
2      14611
3      14609
4      14606
       ...
132    14621
133    14611
134    14606
135    14604
136    14608
Length: 137, dtype: object

In [33]:
zipcode

['14621',
 '14621',
 '14611',
 '14609',
 '14606',
 '14611',
 '14609',
 '14609',
 '14619',
 '14609',
 '14621',
 '14613',
 '14609',
 '14621',
 '14608',
 '14621',
 '14609',
 '14621',
 '14621',
 '14613',
 '14606',
 '14608',
 '14619',
 '14613',
 '14621',
 '14621',
 '14605',
 '14605',
 '14608',
 '14611',
 '14611',
 '14605',
 '14613',
 '14606',
 '14613',
 '14613',
 '14609',
 '14621',
 '14611',
 '14605',
 '14621',
 '14609',
 '14613',
 '14608',
 '14621',
 '14605',
 '14611',
 '14609',
 '14621',
 '14621',
 '14608',
 '14621',
 '14621',
 '14613',
 '14608',
 '14608',
 '14608',
 '14609',
 '14614',
 '14614',
 '14611',
 '14611',
 '14609',
 '14609',
 '14614',
 '14609',
 '14609',
 '14611',
 '14621',
 '14604',
 '14608',
 '14608',
 '14606',
 '14613',
 '14611',
 '14621',
 '14609',
 '14615',
 '14642',
 '14619',
 '14621',
 '14621',
 '14611',
 '14608',
 '14608',
 '14606',
 '14608',
 '14608',
 '14608',
 '14608',
 '14611',
 '14609',
 '14609',
 '14606',
 '14621',
 '14621',
 '14609',
 '14611',
 '14621',
 '14605',
 '14605',
 '14621',
 '14621',
 '14605',
 '14605',
 '14608',
 '14606',
 '14621',
 '14609',
 '14605',
 '14608',
 '14615',
 '14606',
 '14621',
 '14621',
 '14619',
 '14621',
 '14611',
 '14613',
 '14606',
 '14608',
 '14621',
 '14621',
 '14621',
 '14608',
 '14613',
 '14613',
 '14613',
 '14606',
 '14621',
 '14612',
 '14611',
 '14621',
 '14611',
 '14606',
 '14604',
 '14608']

In [34]:
gun_2022_23

,X,Y,ID,Case_Number,Address,Occurred_Date,Occurred_Month,Occurred_Year,Crime_Type,Multiple_Shooting,Gender,Race,Ethnicity,Victim_Age,Victim_Age_Band,Latitude,Longitude,ObjectId,Zip_code
0,-77.610890,43.184163,7b9b3c9f85a442ce6a0aa2433ab8614f,22-109240,442 Remington St,2022/06/01 04:00:00+00,6,2022,Shooting,No,M,WHITE,HISPANIC,34,25-44,43.184163,-77.610890,1,14621
1,-77.598893,43.181793,82e3549d4dc8a835dea7130df2dcc851,22-106950,904 Hudson Ave,2022/05/29 04:00:00+00,5,2022,Homicide,No,M,WHITE,HISPANIC,42,25-44,43.181793,-77.598893,2,14621
2,-77.630378,43.142970,bb9b98f90af42194e3a5b12a1ba8405f,22-106780,168 Bartlett St,2022/05/29 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,60,45-Older,43.142970,-77.630378,3,14611
3,-77.580628,43.167216,dd0ab9214578b6e0d35467f6bb7b0fc3,22-106380,720 N Goodman St,2022/05/28 04:00:00+00,5,2022,Shooting,No,M,BLACK,NON HISPANIC,28,25-44,43.167216,-77.580628,4,14609
4,-77.641972,43.162394,5aac53d1517de031545f178e919c35b8,22-104298,138 Murray St,2022/05/26 04:00:00+00,5,2022,Shooting,No,M,WHITE,HISPANIC,15,15-24,43.162394,-77.641972,5,14606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,-77.594208,43.176265,170cc2716dcda68d990e13f160eb8e6d,22-002983,367 Alphonse St,2022/01/05 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,45,45-Older,43.176265,-77.594208,433,14621
133,-77.653647,43.145521,8413049a1673e7652bc9a496b9822f8b,22-002302,211 Depew St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,43,25-44,43.145521,-77.653647,434,14611
134,-77.632012,43.160080,1cb272c96a18d27465d921e5df6df93a,22-002409,290 Saxton St,2022/01/04 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,15,15-24,43.160080,-77.632012,435,14606
135,-77.603917,43.159877,11e489af1ae332d6ea0af7061c782115,22-001016,125 North St,2022/01/02 05:00:00+00,1,2022,Homicide,No,M,BLACK,NON HISPANIC,14,14-May,43.159877,-77.603917,436,14604
136,-77.626821,43.141037,1870a76a0d379ac9e58736f51974dbaf,22-000125,204 Hawley St,2022/01/01 05:00:00+00,1,2022,Shooting,No,M,BLACK,NON HISPANIC,30,25-44,43.141037,-77.626821,437,14608

In [40]:
gun_count = gun_2022_23.groupby(["Zip_code"])["X"].count().reset_index(name="count")

In [41]:
gun_count

   Zip_code  count
0     14604      2
1     14605     10
2     14606     11
3     14608     21
4     14609     19
5     14611     16
6     14612      1
7     14613     13
8     14614      3
9     14615      2
10    14619      4
11    14621     34
12    14642      1

In [38]:
import seaborn as sns
from fitter import Fitter, get_common_distributions, get_distributions

In [ ]:
sns.set_style('white')
sns.set_context("paper", font_scale = 2)
sns.displot(data=roc_foodlink_data, x="Food Insecurity", kind="hist", bins = 100, aspect = 1.5)